
  <div class="row">
        <div #containerRef class="col-md-6">
            <ngx-charts-advanced-pie-chart
            [view]="[containerRef.offsetWidth-20, 400]"
            [scheme]="colorScheme"
            [results]="Modalidad_Data"
            [percentageFormatting]="percentageFormatting"
            label="Modalidad"
            [gradient]="gradient"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
          </ngx-charts-advanced-pie-chart>
        </div>
        <div #containerRef2 class="col-md-6">
            <ngx-charts-advanced-pie-chart
            [view]="[containerRef2.offsetWidth-20, 400]"
            [scheme]="colorScheme"
            [results]="Tipo_Data"
            label="Tipo de participación"
            [percentageFormatting]="percentageFormatting"
            [gradient]="gradient"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
          </ngx-charts-advanced-pie-chart>
        </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-success" (click)="descargarexcel()"><i class="fas fa-file-excel"></i>Descargar excel</button> 
    </div>





