<div id="contefooter" class="mt-5">
  <div class="row">
     <div class="col-md-4 ">
      <h3 class="text-white " id="textpowered">Powered By:<br>Oficina de Tecnologías de la Información</h3>
     </div>
     <div class="col-md-4 row">
      <div class="col-md-6 logos mt-1 "><img src="../assets/images/logogobernacion.png" alt="logogobernacion"></div>           
        <div class="col-md-6 logos">
          <div class="mt-2" id="contlogofuerza">
            <div class="text-center">
              <img id="imglogofuerza" src="../assets/images/logofuerza.png" alt="logofuerza">
            </div>   
            <div>
              <h3 id="lemacambio" class="text-center">La fuerza <br>del cambio</h3>
            </div> 
          </div>     
      </div>
    </div>
     <div class="col-md-4"> </div>
  </div>
</div>
