footer{
    height: 150px;
  }
#contefooter{
  border-top: 3px solid white;
}

#contlogofuerza{
  border-left: 2px solid white;
}
  #lemacambio{
    line-height : 15px;
    font-family: plutocondHeavy;  
    color: white;
    font-weight: bold;
}
@media(max-width:750px){
  .logos{
   display: none;
   visibility: hidden;
  }
}

#textpowered{
   position: relative; 
   top: 40%; 
}