.contcentralnav>h2{
    font-family: 'Urbanist',sans-serif;
    color: white;
    font-size: 21px;

   }
   .contcentralnav>h1,#lemacambio{
   font-family: plutocondHeavy;  
   color: white;
   font-weight: bold;
   }
   .contcentralnav>h1{
    font-size: 280%;
    /* letter-spacing: 3px */
   }
   #lemacambio{
   line-height : 15px;
   }

   @media(max-width:750px){
    .logos{
     display: none;
     visibility: hidden;
    }
  }
  #imglogofuerza{
    width: 55%;

  }
#contheader{
  border-bottom: 3px solid white;
}
#contlogofuerza{
  border-left: 2px solid white;
}