<div class="row border-3 border-bottom border-white">
    <div class="col-md-2 col-sm-12 logos"><img src="../assets/images/logogobernacion.png" alt="logogobernacion"></div>
    <div class="col-md-8 col-sm-12 text-center">
      <div class="contcentralnav">
        <h2>FERIAS DE LA EQUIDAD</h2>
      </div>
      <div class="contcentralnav">
        <h1>Gobernacion del Magdalena,Santa Marta</h1>
      </div>
    </div>
    <div class="col-md-2 col-sm-12 logos">
      <div class="text-center">
        <img src="../assets/images/logofuerza.png" alt="logofuerza">
      </div>   
      <div>
        <h3 id="lemacambio" class="text-center">La fuerza <br>del cambio</h3>
      </div>  
  </div>
  </div>
