#imgferia{
    height: 500px;
  }
  #cardgrafica{
    background-color:rgba(255, 255, 255);
    border-radius: 19px; 
    height: 30rem;
   }
   @media(max-width:750px){
    #cardgrafica,#imgferia{
     display: none;
     visibility: hidden;
    }
  }