table {
    width: 100%;
  }

/* .content{
  padding-left: 10%;
  padding-right: 10%;
} */

.contcentralnav>h1{
  font-family: 'Urbanist', sans-serif;
  color: white;
 }
 .contcentralnav>h2,#lemacambio{
 font-family: plutocondHeavy;  
 color: white;
 font-weight: bold;
 }
 #lemacambio{
 line-height : 15px;
 }
 #cardtabla{
   background-color:rgb(250 , 248,248,0);
   /* border-radius: 19px; 
   border: 1px solid #804740; */
 }
 #cardgrafica{
  background-color:rgba(255, 255, 255);
  border-radius: 19px; 
  border: 1px solid #804740;
  height: 28rem;
 }
 #imgferia{
   height: 500px;
 }
 .btn-scam{
  width: 100%; 
  background-color: rgb(255, 255, 255);
  color: #FF670A;
  font-family: 'Urbanist', sans-serif;
  border-radius: 12px;
  border: 3px solid #FF670A;
  }

 /* // responsive */
 #cardgrafica2{
  background-color:rgba(255, 255, 255);
  border-radius: 19px; 
  border: 1px solid #804740;
  height: 19rem; 
  width: 28rem;
  padding-left: 10%;
  padding-right: 10%;
  display: none;
  visibility: hidden;
 }
 @media(max-width:750px){
   #cardgrafica{
    display: none;
    visibility: hidden;
   }
   #cardgrafica2{
    display: block;
    visibility: visible;
   }

   .logos,#imgferia{
    display: none;
    visibility: hidden;
   }
   #listpaginator{
     margin-top: 20px;
   }

 }