
<div class="content">
  <div class="row border-3 border-bottom border-white">
    <div class="col-2"><img src="../assets/images/logogobernacion.png" alt="logogobernacion"></div>
    <div class="col-8 contcentralnav text-center"><h2>FERIAS DE LA EQUIDAD</h2> <h1>Gobernacion del Magdalena,Santa Marta</h1></div>
    <div class="col-2"><img src="../assets/images/logofuerza.png" alt="logofuerza"></div>
  </div>
  <div class="row mt-5">
    <div class="col-6" >
      <div *ngIf="mostrar==true" id="cardgrafica">
        <ngx-charts-bar-vertical-stacked
        [view]="view"
        [scheme]="colorScheme"
        [results]="listaMunicipios"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [animations]="animations"
        [showDataLabel]="true"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-stacked>
      </div>
      <div *ngIf="mostrar==false" >
             <img id="imgferia" src="../assets/images/feria.jpg" alt="feria imagen">
      </div>
       
      </div>
      <div class="col-6" >
        <mat-card id="cardtabla">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
          
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()"
                                  >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Municipio </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
            
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>
                
              </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
               </mat-paginator>
            </div>
            <div class="col-2"></div>
          </div>
                 
        </mat-card>
        
        <div class="mt-2">
          <!-- <button class="btn btn-primary" (click)="VerMunicipios()">Ver Municipios</button> -->
          <button class="btn btn-success" (click)="VerGraficas()" type="button"  [disabled]="cargandodatos">
            <span *ngIf="cargandodatos" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Ver Graficas
          </button>
        </div>    
      </div>
  </div>
</div>


